<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Muzima</a>

            <form class="navbar-search pull-right">
                <input type="text" placeholder="Search" class="search-query">
            </form>

            <div class="nav-collapse collapse pull-right">
                <ul class="nav">
                    <li><a href="#/home">Home</a></li>
                    <li class="divider"></li>
                    <li><a href="#/cohorts">Cohorts</a></li>
                    <li><a href="#/settings">Settings</a></li>
                    <li><a href="#/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h4>{{patient.givenName}} {{patient.middleName}} {{patient.familyName}}</h4>

        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Action
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#/patient/{{patient.uuid}}">View Demographic</a></li>
                <li><a href="#/observation/{{patient.uuid}}">View Observation</a></li>
                <li><a href="#/summary/{{patient.uuid}}">View Summary</a></li>
                <li class="divider"></li>
                <li><a href="#/reminder/{{patient.uuid}}">View Reminder</a></li>
                <li class="divider"></li>
                <li><a href="#/forms/{{patient.uuid}}">Fill Form</a></li>
            </ul>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs nav-stacked">
            <li ng-repeat="form in forms">
                <a href="#/form/{{patient.uuid}}|{{form.uuid}}">
                    {{form.name}}
                    <i class="icon-chevron-right"></i>
                </a>
            </li>
        </ul>
        <span>Available forms: {{forms.length}}</span>
    </div>
</div>
<div id="push"></div>
